.feed_container{

  width: 600px;

  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;


  
}


.feed_piece{

  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(221, 220, 220);
  margin-bottom: 50px;

  z-index: 0;
}

.feed_header{
  position: relative;
  width: 580px;
  height: 30px;
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(221, 220, 220);

  z-index:0;
}

.feed_widget{
  width: 20px;
  height: 20px;
  margin-right: 20px;

}


@media only screen and (max-width: 1300px) {
  .feed_container {
    margin-right: none;
  }
  .feed_piece {

  }
}

@media only screen and (max-width: 600px) {
  .feed_container {
    width: 200%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }


  .feed_piece {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  .feed_widget{
    display: none;
  
  }
}